.container {
  width: 90%;
  margin: 1rem auto;
}
.content {
  text-align: center;
}
.img {
  border-radius: 8px;
  margin: 2rem 0;
}
.puppyName {
  color: rgb(153, 228, 199);
}
.firstWord {
  font-size: 3rem;
  color: rgb(103, 178, 149);
}
