.nav {
  background: rgb(77, 76, 76);
  color: white;
  display: flex;
  justify-content: flex-start;
}
.ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.li {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: white;
  height: 100%;
}
.li:hover {
  background: rgb(189, 163, 163);
}

.li a {
  color: rgb(0, 0, 0);
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.li a:hover {
  color: rgb(255, 255, 255);
}
